/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #c09242;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
     background-image: url(../img/speckled.png);
     background-repeat: repeat;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

h2,
p,
li {
  font-family: 'Montserrat', sans-serif;
}


   /* main-nav */

   .main-nav {
     color: #402425;
     float: right;
   }

   .main-nav ul {
     margin-right: 10em;
   }

   .main-nav li {
     display: inline-block;
     margin-top: 1.5em;
     margin-right: 2em;
     font-size: .8em;
     text-transform: uppercase;
     letter-spacing: 1.85px;
   }

   .main-nav li a {
     text-decoration: none;
     color: #402425;
   }

   .main-nav li a:hover {
     color: #97ca5b;
     transition: all 0.3s;
   }


/* header */
.page-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 6em;
  z-index: 150;
}

.page-header .logo {
    position: absolute;
    top: 9%;
    left: 12%;
}
.page-header .logo img {
  width: 160px;
}

/* jumbo-image */

.jumbo-image {
  position: relative;
}

.jumbo__bg {
    display: block;
    position: relative;
    z-index: -10;
    width: 100%;
}

.jumbo-image h1 {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.25;
}

.jumbo-image p {
  line-height: 1.75;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

.jumbo-image .btn {
  color: #fff;
  border-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: .75em;
  border-top: 2px solid;
  border-bottom: 7px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  padding: 15px 65px;
}

.jumbo-image .btn:hover {
  border: 2px solid;
  transition: all 0.3s;
}

.jumbo-image__content {
    position: absolute;
    top: 15%;
    left: 8%;
    text-align: left;
    color: #fff;
}

/* story */

.story {
  position: relative;
}

.story p {
  padding: 50px 100px;
  font-size: 1.3em;
  letter-spacing: 2px;
  line-height: 1.9em;
}

/* grid */

.info {
  position: relative;
}

.info h1 {
  letter-spacing: 2px;
}

.info p {
  font-size: .9em;
  letter-spacing: 1px;
  line-height: 1.65;
}

#grid1 {
  width: 50%;
  background: url('../img/latte-art.jpg') no-repeat center;
  background-size: cover;
}

#grid2 {
  width: 50%;
  background: url('../img/tree-planting.jpg') no-repeat center;
  background-size: cover;
}

.grid-image {
    width: 100%;
    float: left;
    height: 360px;
}

.grid-info-classes {
  position: relative;
  background-color: #e0b661;
  color: #c09242;
  width: 50%;
  float: left;
  text-align: center;
  height: 325px;
  padding-top: 35px;
}

.grid-info-classes a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9em;
  color: #c09242;
  letter-spacing: 3px;
  font-weight: bold;
}

.grid-info-news {
  position: relative;
  background-color: #c09242;
  color: #e0b661;
  width: 50%;
  float: left;
  text-align: center;
  height: 325px;
  padding-top: 35px;
  padding-left: 3em;
  padding-right: 3em;
}

.grid-info-news a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9em;
  color: #e0b661;
  letter-spacing: 3px;
  font-weight: bold;
}

.grid-info-news h2 {
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 3px;
}

.info a:hover {
  color: white;
  transition: all 0.3s;
}


/* featured-coffee */

.featured-coffee {
  clear: both;
  position: relative;
  height: 470px;
}

.featured-coffee__content {
    background-image: url(../img/green-bg.png);
    position: absolute;
    line-height: 1;
    color: #fff;
    height: 470px;
    padding-top: 60px;
}

.featured-coffee h1 {
  letter-spacing: 2px;
}

.featured-coffee p {
  line-height: 1.75;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

.featured-coffee .btn {
  color: #fff;
  border-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: .75em;
  border-top: 2px solid;
  border-bottom: 7px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  padding: 15px 55px;
}

.featured-coffee .btn:hover {
  border: 2px solid;
  transition: all 0.3s;
}

.featured-coffee-about {
  position: relative;
  width: 50%;
  float: left;
  padding-left: 12%;
}

.featured-coffee-about h2 {
  font-size: 1.25em;
  letter-spacing: 2px;
  font-weight: normal;
}

.featured-coffee-name {
  position: relative;
  width: 50%;
  float: left;
}

.featured-coffee-name h2 {
  font-size: 1em;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  letter-spacing: 2px;
  z-index: 200;
  top: 50%;
  left: 50%;
}

.coffee-name__bg {
  position: relative;
  padding-left: 6em;

}

/* .page-footer */

.page-footer {
  height: 310px;
  position: relative;
  width: 100%;
}
.footer-wrapper {
  position: relative;
  width: 100%;
  padding: 3em 5em 3em 9em;
}

.page-footer h1 {
  color: #402425;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 3px;
}

.footer-form {
  position: relative;
  float: left;
  width: 33%;
}

.signupfield {
  background-color: rgba(255, 0, 0, 0);
  width: 87%;
  border: 0;
  border-bottom: 1px solid #c09242;
  line-height: 2;
}

.signupbutton {
  color: #c09242;
  border-color: #c09242;
  background-color: rgba(255, 0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: .65em;
  border-top: 2px solid;
  border-bottom: 7px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  padding: 12px 120px;
  margin-top: 25px;

}

.footer-contact {
  position: relative;
  float: left;
  width: 33%;
}

.footer-contact p {
  font-size: .75em;
  line-height: 1.75;
  letter-spacing: 1.5px;
}

.footer-contact a {
  color: #97ca5b;
  text-decoration: underline;
}

.footer-contact a:hover {
  color: #c09242;
  text-decoration: underline;
  transition: all 0.3s;
}

.footer-social {
  position: relative;
  float: left;
  width: 33%;
}

.footer-social i {
  font-size: 3em;
}

.footer-social a {
  color: #c09242;
}

.footer-social a:hover {
  color: #97ca5b;
  transition: all 0.3s;
}

.footer-copyright {
  position: relative;
  float:left;
  width: 100%;
  clear: both;
  text-align: center;
  color: #402425;
  font-size: .7em;
  letter-spacing: 1.5px;
  padding-top: 50px;
}

/* .side-nav */

.side-nav {
    display: none;
    background: #9ac961;
    font-size: 1em;
    position: relative;
}

.side-nav ul {
    margin-top: 1.5em;
    list-style-type: none;
}

.side-nav li {
    margin: 1em 0;
    position: relative;
}

.side-nav a {
    color: white;
    text-decoration: none;
}

.main-nav li.is-active:before {
    content: '';
    display: block;
    border: 0.5rem solid transparent;
    position: absolute;
    left: -0.75em;
    top: 50%;
    transform: translateY(-50%);
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
